@keyframes wobble-to-top-right-small {
    16.65% {
        -webkit-transform: translate(3px,-3px);
        transform: translate(3px,-3px);
    }

    33.3% {
        -webkit-transform: translate(-3px,3px);
        transform: translate(-3px,3px);
    }

    49.95% {
        -webkit-transform: translate(2px,-2px);
        transform: translate(2px,-2px);
    }

    66.6% {
        -webkit-transform: translate(-2px,2px);
        transform: translate(-2px,2px);
    }

    83.25% {
        -webkit-transform: translate(1px,-1px);
        transform: translate(1px,-1px);
    }

    100% {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
    /*16.65% {*/
    /*-webkit-transform: translate(5px,-5px);*/
    /*transform: translate(5px,-5px);*/
    /*}*/

    /*33.3% {*/
    /*-webkit-transform: translate(-4px,4px);*/
    /*transform: translate(-4px,4px);*/
    /*}*/

    /*15.00% {*/
    /*-webkit-transform: translate(3px,-3px);*/
    /*transform: translate(3px,-3px);*/
    /*}*/

    /*40.00% {*/
    /*-webkit-transform: translate(2px,-2px);*/
    /*transform: translate(2px,-2px);*/
    /*}*/

    /*70.0% {*/
    /*-webkit-transform: translate(-1px,1px);*/
    /*transform: translate(-1px,1px);*/
    /*}*/

    /*100% {*/
    /*-webkit-transform: translate(0,0);*/
    /*transform: translate(0,0);*/
    /*}*/
}

@keyframes wobble-to-top-right {
    16.65% {
        -webkit-transform: translate(5px,-5px);
        transform: translate(5px,-5px);
    }

    33.3% {
        -webkit-transform: translate(-4px,4px);
        transform: translate(-4px,4px);
    }

    49.95% {
        -webkit-transform: translate(3px,-3px);
        transform: translate(3px,-3px);
    }

    66.6% {
        -webkit-transform: translate(-2px,2px);
        transform: translate(-2px,2px);
    }

    83.25% {
        -webkit-transform: translate(1px,-1px);
        transform: translate(1px,-1px);
    }

    100% {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
}

body {
    color: #393939;
    font-family: 'Open Sans', sans-serif;
}

.main-picture {
    /*background: red;*/
    /*height: 400px;*/
}

.main-picture-block {
    height: 200px;
}

.full-page-bg {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}

.main-picture-block .full-page-bg {
    background-attachment: scroll;
    background-image: url(../images/main-picture.png);
    /*background-position: center center;*/
    background-position: center 35%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /*background-size: 100% 100%;*/
    height: 200px;
}

#scroller {
    position: fixed;
    bottom: 42px;
    cursor: pointer;
    display: none;
    right: 40px;
    z-index: 1000;
}

#scroller i {
    padding: 12px 16px 13px;
    font-size: 20px;
    /* border: 2px solid; */
    border-radius: 50%;
    font-weight: bold;
    /* color: #696969; */
    color: #767679;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
    background: #ffffff;
}

#location {
    height: 490px;
}

#location .maps {
    position: absolute;
    left: 0;
    right: 0;
}

.footer {
    height: auto;
    padding-bottom: 40px;
    background: #0b0e13;
    color: #8c8c8c;
    padding-top: 40px;
}

.footer a {
    color: #ffffff;
    transition: color 0.4s ease;
}

#arenda {
    color: #ffffff;
    /*padding: 80px 0 70px;*/
    /*padding-bottom: 70px;*/
}

#arenda .full-page-bg {
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    background: #4a4945;
    height: 240px;
    background: url("../images/bg-arenda.png");
    background-size: 100% 100%;
}

/*.arenda-bg {*/
    /*background: #4a4945;*/
    /*height: 240px;*/
/*}*/

#arenda h3 {
    /*margin-top: 70px;*/
}

#arenda .btn {
    background: #12529a;
    border-radius: 20px;
    transition: all 0.3s ease;
    margin-top: 25px;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
}

#arenda .btn .fa {
    margin-right: 20px;
}


#arenda .btn:hover {
    /*background: #1777CD;*/
    background: #F1C30A;
    color: #ffffff;
}


.arenda-block {
    padding: 35px 0 50px;
}

.wrap > .container {
    padding-bottom: 0;
    padding-top: 90px;
}

#advantages {
    color: #12529a
}

#advantages .full-page-bg {
    /*height: 350px;*/
    background: #f7f7f7;
    font-size: 16px;
    height: 308px;
}

.advantages-block {
    padding: 59px 0;
    font-size: 15px;
}

.advantages-block > div:first-child {
    margin-bottom: 40px;
}

#komplex {
    padding: 30px 0 50px;
}

#komplex h2 {
    margin-bottom: 30px;
}

.navbar-header-top {
    margin-bottom: 0;
    border: 0;
    background: #ffffff;
}

.navbar-header-top.head-bg {
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.95);
    transition: all 0.3s;

}

.navbar-header-top .navbar-nav li a {
    /*padding: 25px 20px;*/
    margin: 35px 20px;
    padding: 0;
}

.navbar-header-top .navbar-brand {
    padding: 20px 0;
    /*color: #074b96;*/
    /*font-size: 20px;*/
}

.navbar-header-top a {
    color: #393939;
    font-weight: bold;
}

.navbar-header-top .navbar-nav li a {
    font-weight: 700;
    /*border-bottom: 1px solid transparent;*/
    position: relative;
}

.navbar-header-top .navbar-nav li {
    /*display: inline-block;*/
    /*margin-right: 38px;*/
    /*vertical-align: top;*/
    /*height: 36px;*/
    /*line-height: 38px;*/
    font-size: 15px;
}

.navbar-header-top .navbar-nav li a:hover, .navbar-header-top .navbar-nav li a:focus {
    color: #074b96;
    /*border-color: rgba(7, 75, 150, 0.15);*/
    background: none;
}

.navbar-header-top .navbar-nav li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #074b96;
    height: 2px;
    -webkit-transition-property: left,right;
    transition-property: left,right;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.navbar-header-top .navbar-nav li a:hover:before {
    left: 0;
    right: 0;
    z-index: 0;
}

.header-phone-link-block {
    /*margin-bottom: 6px;*/
    font-size: 14px;
    color: #12539A;
}

.header-phone {
    margin: 31px 0 31px 20px;
}

.header-phone .btn {
    background: transparent;
    border: 1px solid #d5d5d5;
    border-radius: 25px;
    padding: 2px 10px;
    transition: all .4s;
}

.header-phone .btn:hover {
    border-color: #074b96;
}

.header-phone .header-phone-link-block:hover .fa {
    -webkit-animation-name: wobble-to-top-right-small;
    animation-name: wobble-to-top-right-small;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.header-phone-link span {
    font-size: 14px;
}

.navbar-header-top .header-phone-link {
    color: #12539A;
    font-size: 20px;
    margin-left: 5px;
}

.navbar-header-top .header-phone-link:hover {
    text-decoration: none;
}

.head-bg ul#navbar-top {
    margin-right: 50px;
}

#navbar-top {
    transition: all 0.4s;
    margin-right: 20px;
}

/*.head-bg .header-phone {*/
    /*margin-top: 35px;*/
/*}*/

/*.header-phone {*/
    /*transition: all 0.4s;*/
/*}*/

/*!*.header-phone-link-block {*!*/
/*!*transition: all 0.4s;*!*/
/*!*}*!*/

/*.head-bg .header-phone-link-block {*/
    /*display: inline-block;*/
/*}*/

.footer-link, .footer-link-info {
    font-weight: bold;
    margin-bottom: 5px;
}

footer a:hover, .footer a:focus{
    color: #F2C310;
    text-decoration: none;
}

.footer-link-descr {
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: -2px;
}

.footer-social.text-right {
    font-size: 25px;
}

.social-buttons li a:hover {
    /*color: #1777CD;*/
    color: #F2C310;
}

.arenda-block .modal {
    color: #393939;
}

.arenda-block .modal-dialog {
    width: 80%;
}

.footer-block {
    padding: 20px 0;
}

img.logo-footer {
    margin-top: -10px;
}

.advantages-box .advantages-box-img {
    text-align: center;
}

/*.advantages-box-1 .advantages-box-img {*/
    /*background: url("../images/icons/3-korpusa.png");*/
/*}*/

#about {
    padding: 30px 0 40px;
}

.footer-copyright {
    margin-top: 35px;
}

.advantages-block b {
    font-size: 40px;
    line-height: 20px;
}

#about h2 {
    margin-bottom: 40px;
}

.logo {
    background: url("../images/logo.png");
    width: 208px;
    height: 50px;
    transition: all 0.4s;
}

.head-bg .logo {
    background: url("../images/logo-small.png");
    width: 49px;
    margin-left: 80px;
}